@using System.Globalization
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_Powerpointer</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css"/>
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"> 
        <link rel="stylesheet" href="~/css/range.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/range.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="ui container">
        <div class="ui attached stackable borderless menu">
            <div class="ui container">
                <a class="item" asp-controller="Home" asp-action="Index">The PowerPointer</a>
                <a class="item" asp-controller="Home" asp-action="Index"><i class="clock icon"></i>Briefing</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="item" asp-controller="Home" asp-action="FavoritePosts"><i class="star icon"></i>Favorite posts</a>
                }
                <a class="item" asp-action="TenYearsAgo" asp-controller="Home"><i class="calendar icon"></i>@DateTime.Today.ToString("MMMM", CultureInfo.InvariantCulture) 10 years ago</a>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
        
        @RenderBody()

    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.min.js"></script>
        <script src="~/js/range.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/semantic/dist/semantic.min.js"></script>
        <script src="~/js/range.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
