@model The_Powerpointer.Models.ItemViewModels.SongViewModel
@{
    ViewData["Title"] = "Song";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="ui stackable grid">
    <div class="ui center aligned row" style="margin-top: 20px;">
        <div class="ui six wide column">
            <table class="ui very basic collapsing celled table">
                <tr>
                    <td><span class="ui header">Title</span></td>
                    <td><span class="ui header">@Model.Song.Name</span></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>@Model.Song.Author</td>
                </tr>
                <tr>
                    <td>Year created</td>
                    <td>@Model.Song.DateCreated.Year</td>
                </tr>
            </table>
        </div>
        <div class="ten wide column">
            <h3 class="ui header" style="margin-bottom: 15px;">You might also like:</h3>
            @Html.Partial("_SongList", Model.SuggestedSongs)
        </div>
    </div>
    <div class="ui row">
        @Html.Partial("_SongPlayer", Model.Song)
    </div>
</div>