
@model List<The_Powerpointer.Models.Song>
@{
    ViewData["Title"] = "Songs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Song currentSong = null;
}


  
    
<div class="ui list">
    @for (int i = 0; i < Model.Count; i++)
    {
        var s = Model[i];
        var clsass = "padding: 10px 0;";
        if (i % 2 != 0)
        {
            clsass += " background-color: lightgray;";
        }
        <div class="item" style="@clsass" onclick="songClicked('@s.Name', '@s.Author', '@s.Source')">
            <span style="font-weight: bold;">@s.Name</span> &bull; @s.Author
        </div>

    }
            
</div>

<div style="position: absolute; bottom: 1%; left: 2%; right: 2%;" id="showSongsPlayer">
    <audio id="showSongsAudio"></audio>
    <div style="background-color: lightgray;">
        <i class="play icon" style="font-size: 1.5em; cursor: pointer;" id="showSongsPlayIcon" onclick="clickedPlayOnShowSongs()"></i>
        <div style="display: inline;">
            <span style="font-weight: bold;" id="songName">Name</span> &bull; <span id="songAuthor">Author</span> &bull; <span id="elapsedTime">00:00</span>/<span id="songDuration">00:00</span>
            <div class="ui range" id="showSongsRange"></div>
        </div>


    </div>
</div>



