@using Microsoft.EntityFrameworkCore
@using The_Powerpointer.Data
@model MainPageViewModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext DbContext

@{

    var fakeUser = await UserManager.GetUserAsync(User);
    var user = await DbContext.Users.SingleOrDefaultAsync(u => u.Id == fakeUser.Id);
    var str = user != null ? user.FirstName : "there";
    <h1 class="ui header lightFont" id="mainText">Hi @str!</h1>
}

<h1 class="ui header lightFont" id="mainSubtitle">Here's your news for today.</h1>

@if (Model.News != null)
{
   
        <h3 class="ui header mainHeader">News</h3>


    <div class="ui four doubling stackable cards">
        @foreach (var n in Model.News)
        {

            var fav = false;
            if (user != null)
            {
                var news = DbContext.UserNews.SingleOrDefault(un => un.NewsId == n.Id && un.ApplicationUserId == user.Id);
                if (news != null)
                {
                    fav = true;
                }
            }
                @Html.Partial("_NewsCard", new NewsCardViewModel
                {
                    News = n,
                    Favorited = fav
            })
                                }

    </div>
    <a asp-controller="Home" asp-action="ShowMoreList" asp-route-type="0" class="showMoreButton">
        <h4 class="ui header">Show more</h4>
    </a>
                                }

    <h3 class="ui header mainHeader">Song</h3>
    

<div class="ui fluid card">
    <div class="content">
        <audio src="~/media/songs/@Model.Song.Source" id="audioTag"></audio>
        <i class="play icon" id="playIcon"></i>
        <span class="songName">@Model.Song.Name</span>
        <span class="bulletPoint">&bull;</span>
        <span class="songAuthor">@Model.Song.Author</span>
    </div>

    <div class="ui range" style="display: inline;" id="my-range"></div>
</div>
<a asp-controller="ShowMore" asp-action="Songs" class="showMoreButton">
    <h4 class="ui header">Show more</h4>
</a>

    <h3 class="ui header mainHeader">Paintings</h3>
    

<div class="ui two stackable cards">
    @foreach (var p in Model.Pictures)
    {
        <div class="ui fluid card">
            <div class="image">
                <img src="~/media/pictures/@p.Source" />
            </div>
            <div class="content">
                <div class="header">@p.Name</div>
                <div class="meta">@p.Author</div>
            </div>
        </div>
    }


</div>
<a asp-controller="Home" asp-action="ShowMoreList" asp-route-type="2" class="showMoreButton">
    <h4 class="ui header ">Show more</h4>
</a>